<!doctype html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>フォーム</title>
</head>
<body>

<h1>フォーム</h1>
<h2>応募総数: {{ num }}</h2>
<form method="post" action="/post">
    <p>
        <label>email: <input type="text" name="email" /></label>
    </p>
    <p>
        <input type="submit">
    </p>
</form>

</body>
</html>